extends templates/template

block title
    a#contact(href="#contact") Contact

block main
    form#contactForm
        label(for="name") Name:
        input#name(type="text" name="name" required)
        div.error#nameError

        label(for="email") Email:
        input#email(type="email" name="email" required)
        div.error#emailError

        label(for="message") Message:
        textarea#message(name="message" rows=4 required)
        div.error#messageError

        div.formButtons
            button(type="clear") Clear
            button(type="submit") Submit
        div.formMessage