extends templates/template

block title
    a#contact(href="#contact") Contact

block main
    form#contactForm
        label(for="name") Name:
        input#name(type="text" name="name" placeholder="Enter your name" required)

        label(for="message") Message:
        textarea#message(name="message" placeholder="Enter your message" rows=10  required)

        div#formBottom
            div#formMessage
            div#formButtons
                button#clear(type="reset") Clear
                button#submit(type="submit") Submit
    script
        include scrips/form.js