extends templates/template

append headers
    link(rel="preload" href="/static/cat.jpg" fetchpriority="high" as="image")

block title
    a#MyCat(href="#MyCat") My Cat

block main
    p "This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat."
    img(src="/static/cat.jpg" alt="My cat")
    p "This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat."
    img(src="/static/cat.jpg" alt="My cat")
    p "This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat."