extends templates/template

block title
    a#MyCat(href="#MyCat") My Cat

block main
    p "This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat."
    p "This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat."
    img(src="/static/kittypixel.png" alt="My cat")
    p "This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat."
    img(src="/static/cat.jpg" alt="My cat")
    p "This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat."
    img(src="/static/kittypixel.png" alt="My cat")
    p "This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat. This is photo if my cat."