doctype html
html
    include head
    body.loading
        include header
        main
            div#title
                div
                h1
                    block title
                div(style="flex-grow: 1")
            block main
        include footer
        include imgViewer
