doctype html
html
    head
        block headers
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title="My cat"
            link(rel="icon" href="static/favicon.ico")
            script.
                let theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
                document.documentElement.setAttribute('data-theme', theme);
            style
                include ../style.css
    body
        include header
        main
            div.title
                div
                h1
                    block title
                div(style="flex-grow: 1")
            block main
        include footer
        script.
            document.querySelectorAll('main img').forEach((img) => {
                img.style.maxHeight = `${window.outerHeight * 0.5}px`;
                img.addEventListener('click', () => {
                    if (document.querySelector('.view')) {
                        return;
                    }

                    let viewDiv = document.createElement('div');
                    viewDiv.classList.add('view');
                    let viewImg = document.createElement('img');
                    viewImg.src = img.src;
                    viewImg.alt = img.alt;
                    viewDiv.appendChild(viewImg);
                    resizeImg();
                    document.body.appendChild(viewDiv);

                    function resizeImg() {
                        if (window.innerWidth / window.innerHeight > viewImg.naturalWidth / viewImg.naturalHeight) {
                            viewImg.style.height = '100%';
                            viewImg.style.width = '';
                        } else {
                            viewImg.style.width = '100%';
                            viewImg.style.height = '';
                        }
                    }

                    function closeViewer() {
                        document.body.removeChild(viewDiv);
                        document.removeEventListener('keydown', handleEscape);
                        document.removeEventListener('resize', resizeImg);
                    }

                    function handleEscape(event) {
                        if (event.key === 'Escape') {
                            closeViewer();
                        }
                    }

                    window.addEventListener('resize', resizeImg);
                    document.addEventListener('keydown', handleEscape);
                    viewDiv.addEventListener('click', closeViewer);
                });
            });